:root {
  /* colors */
  --primary-bg-color: linear-gradient(
    20deg,
    rgb(87, 201, 209),
    rgb(81, 66, 250)
  );
  --logo-bg-color: linear-gradient(0deg, rgb(28, 232, 247), rgb(96, 82, 250));
  --secondary-bg-color: #ffffff;
  --primary-color: #36383a;
  --primary-color-hover: rgb(40, 21, 236, 0.5);
  --text-color: #ffffff;
  --border-color: #ffffff;
  --secondary-border-color: #ffb52b;
  --alternative-text-color: #ffc966;

  /* fonts */
  --logo-font: "Damion", cursive;
  --text-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
  color: var(--text-color);
}

/* reusable classes */

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.centered {
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.space-around {
  justify-content: space-around;
}
.text-center {
  text-align: center;
}
.display-none {
  display: none;
}

/* header */

.header {
  grid-area: header;
  padding: 1rem;
}

/* logo - hover*/

.logo {
  width: 30rem;
  height: 8rem;
  padding: 1rem;
  border: 4px solid var(--border-color);

  background: var(--logo-bg-color);
  color: var(--secondary-bg-color);
  border-radius: 25px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.logo:hover {
  box-shadow: 0 5px 20px 0 #15f4ee inset, 0 5px 20px 0 #15f4ee,
    0 5px 20px 0 #15f4ee inset, 0 5px 20px 0 #15f4ee;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.h3-logo {
  font-family: var(--logo-font);
  font-size: 3rem;
  text-decoration: underline;
  transform: rotate(-5deg);
  transition: 0.5s;
  cursor: pointer;
}
.logo .iconify {
  font-size: 3rem;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}

/* Nav bar */

.nav-links {
  width: 50%;
  list-style-type: none;
  text-transform: uppercase;
}
.nav-links li {
  display: inline;
}
.nav-links li a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-links-column {
  width: 50%;
  list-style-type: none;
  text-transform: uppercase;
  display: none;
}
.nav-links-column li {
  display: inline;
}
.nav-links-column li a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* Nav - hover */

.nav-links li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--secondary-bg-color);
  transition: width 0.3s;
  padding-top: 1px;
  margin-top: 5px;
}
.nav-links li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/*  Media queries */

/* Tablet */

@media screen and (max-width: 1070px) {
  .nav-links {
    display: none;
  }
  .nav-links-column {
    display: flex;
    width: fit-content;
  }
  .nav-links-column li {
    padding-top: 1.5rem;
  }
  .nav-links-column li a {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .nav-links-column li a:hover {
    transition: opacity 0.5 1s ease-in-out;
  }
}

/* Phone */

@media screen and (max-width: 500px) {
  .logo {
    width: 15rem;
    height: 4rem;
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  }

  .h3-logo {
    font-size: 1.5rem;
  }
  .iconify {
    font-size: 1.5rem;
  }
}
